// Colors
$blue-100: #dbe9f9;
$blue-200: #b7d3f3;
$gray: #545d6c;
$semigray: #5a5c6c;
$ligth-blue: #4a90e2;
$light-red: #EB6057;
$grey: #91929D;
$white: #ffffff;

// Sidenav
$sidenav-width: 245px;
$sidenav-width-xl: 275px;
$sidenav-width-sm: 285px;
$sidenav-shrink-width: 54px;
$sidenav-shrink-width-xl: 60px;
$sidenav-selected-background: $primary;

// Table
$table-menu-width: 134px;
$table-menu-width-md: 217px;

// Dropdown
$dropdown-divider-color: #d9dce1;
$dropdown-icon-color: #91929d;
$dropdown-arrow-color: #5a5c6c;
$dropdown-disabled-color: #91929d;

$datepicker-color: #545d6c;
$datepicker-selected-color: #ffffff;
$datepicker-selected-background: #f8a233;
$datepicker-disabled-color: #b5bac0;

// Panel
$panel-lines-light-color: #d9dce1;
$panel-lines-medium-color: #c3c6cc;
$panel-lines-dark-color: #c8c9ce;

// Scrollbar
$scrollbar-handle-color: #91929d;

// Marks
$mark-background: #fffaf4;

// Notes
$notes-background: #f6f9fe;
$notes-light-color: #91929d;
$notes-danger-background: #fff1ed;

// Langs
$langs-indicator: #edf4fc;
$langs-selected-indicator: $primary;
$langs-icon-color: #c8c9ce;
$langs-selected-icon-color: $primary;

// Tabs
$tab-inactive-color: $semigray;
$tab-inactive-background: #f6f9fe;
$tab-active-color: $semigray;
$tab-active-background: $white;
$tab-border-color: #d3d4d8;
$tab-height: 45px;

$singleHeight: 250px;
$doubleHeight: 500px;
$widgetTableMaxHeight: 770px;
$direct-color: #4A90E2;
$indirect-color: #4A90E240;
$somevalue-color: #4A90E270;
// System
$tabs-content-list: #f6f9fe;
$tabs-content-table-cell-src: #eef4ff;

// Advanced Menu
$advanced-menu-background: #F5F9FD;
$advanced-menu-border-color: #C8C8CE;
$advanced-menu-box-shadow: #C8C8CE80;
