.component-mealplans {
  .add-new-plan {
    margin: 15px 0;
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
  .add-new-plan-block {
    @include media-breakpoint-down(sm) {
      padding: 0 0 30px;
    }
  }

  .panel-content {
    .head-line {
      font-weight: 600;
      font-size: 20px;
      line-height: 55px;
      margin: 0;
      display: flex;
      align-items: center;
      > span {
        white-space: nowrap;
      }
      .spinner {
        display: inline-block;
        margin-left: 15px;
        text-align: left;
        position: relative;
        top: -1px;
      }
      @include media-breakpoint-down(sm) {
        line-height: 30px;
        text-align: center;
      }
    }

    .list {
      //border-left: 6px solid $primary;
      background: $white;
      padding: 55px;
      border-radius: 10px;
      &.left-edge {
        overflow: hidden;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0; top: 0; bottom: 0;
          width: 6px;
          background-color: $primary;
        }
      }
      .nothing {
        text-align: center;
        font-size: 20px;
        line-height: 26px;
      }
      .plans-table {
        margin-top: 20px;
        th, td {
          padding: 0 15px;
          font-size: 14px;
          line-height: 19px;
          &:first-of-type {
            padding-left: 24px;
          }
          &:last-of-type {
            padding-right: 24px;
            text-align: right;
          }
        }
        th {
          font-weight: 600;
          height: 45px;
          background-color: $notes-background;
          white-space: nowrap;
          &.w-id {
            width: 110px;
          }
          &.w-name {
            width: 465px;
          }
          &:first-child {
            border-top-left-radius: 22.5px;
          }
          &:last-child {
            border-top-right-radius: 22.5px;
          }
        }
        tr.separator {
          vertical-align: top;
          &.before {
            height: 12px;
            box-shadow: 0 -1px 0 $panel-lines-light-color;
          }
          &.after {
            height: 12px;
          }
        }
        tbody:first-of-type tr.separator.before {
          box-shadow: none;
        }
        td {
          height: 24px;
          line-height: 24px;
          vertical-align: top;
          &.w-empty {
            height: 100px;
            vertical-align: middle;
            font-weight: 600;
            text-align: center;
          }
          &.actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            button {
              margin-left: 25px;
            }
            svg {
              font-size: 22px;
              color: $notes-light-color;
            }
          }
        }
        p {
          margin: 0;
          white-space: nowrap;
        }
      }
    }

    .description {
      font-size: 12px;
      margin-top: 5px;
    }

    .list-item {
      font-size: 14px;
      line-height: 24px;
      margin-top: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid $panel-lines-light-color;
      padding-bottom: 30px;
      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }
      .c-1 {
        width: calc(100% - 50px);
      }
      .line {
        margin-top: 15px;
      }
      .c-2 {
        width: calc(50% - 25px);
      }
      .w-33 {
        width: calc(100% / 3);
      }
      .w-66 {
        width: calc(100% / 3 * 2);
      }
      p {
        margin: 0;
      }
      .label {
        font-weight: 600;
        font-size: 14px;
        padding: 0;
        color: $semigray;
      }
      .small {
        font-size: 12px;
      }
      .nothing {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        padding: 60px 0 35px;
      }
      .nr {
        // flex: 0 0 45px;
        white-space: nowrap;
      }
      .dots {
        color: $dropdown-icon-color;
        flex: 0 0 50px;
        text-align: right;
      }
      .w-empty {
        font-weight: 600;
      }
    }
    @include media-breakpoint-down(sm) {
      box-shadow: none;
      margin-top: 22px;
    }
  }

  .form-modal {
    .lang-selector {
      margin: 30px 0 30px;
    }
    .link-figure {
      position: relative;
      h5 {
        padding: 0;
        line-height: 40px;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 19px; bottom: 19px; right: 100%;
        width: 24px; margin-right: 7px;
        border: 1px solid $panel-lines-dark-color;
        border-right: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      .link-figure-icon {
        color: lighten($primary, 12.25%);
        background-color: $white;
        position: absolute;
        left: -41px;
        top: calc(100% / 2 - 12px);
      }
      @include media-breakpoint-down(sm) {
        .link-figure-icon, &:before {
          display: none;
        }
      }
    }
    .plan-name {
      margin: 0 0 20px;
    }
    textarea.plan-desc {
      height: 150px;
      margin-bottom: 15px;
    }
    .edge-settings {
      margin: 45px 0;
      > div {
        h3 {
          margin: 25px 15px;
          &:first-child {
            margin: 10px 15px;
          }
        }
        .row-settings {
          margin: 0;
        }
      }
    }
    .edge-price {
      margin: 45px 0 40px;
    }
    .row-price {
      margin: 10px 0;
    }
    .row-occupancy {
      height: 95px;
      .cell-edit-field {
        padding: 6px 15px 15px;
      }
      &.minmax {
        margin-top: 5px;
        margin-bottom: 15px;
        .cell-edit-field {
          padding: 0 15px;
        }
      }
    }
    .row-surcharge {
      height: auto;
      > .col {
        margin-left: -15px;
      }
    }
    .inner {
      h3 {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        &:first-of-type {
          margin-top: 30px !important;
          margin-bottom: 10px !important;
        }
        @include media-breakpoint-down(sm) {
          margin-top: 40px !important;
          margin-bottom: 20px !important;
        }
      }
      .row-surcharge {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    .row-validity {
      margin-bottom: 30px;
    }
    .row-blockout {
      margin: 10px 0;
      @include media-breakpoint-down(sm) {
        position: relative;
      }
    }
    .row-travel {
      margin: 10px 0 0;
    }
    .cell-travel-title {
      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
    .cell-travel {
      display: flex;
      p {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        font-size: 14px;
        font-weight: 600;
      }
      .cell-travel-title {
        flex: 0 0 130px;
        p {
          justify-content: flex-start;
        }
      }
      .cell-travel-alls {
        padding: 0 8px;
        background: $white;
        border-radius: 4px;
        margin-right: 28px;
      }
      .cell-travel-wd {
        width: 30px;
        margin: 0 28px;
      }
      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        margin-left: -7px;
        height: auto;
        .wd-item {
          height: 32px;
          &.wd-all {
            background: $notes-background;
          }
          border-radius: 4px;
          line-height: 32px;
          padding: 4px 6px 4px 7px;
          margin-right: 15px;
          width: calc(25% - 15px);
          margin-top: 8px;
          small {
            margin-left: 10px;
          }
        }
      }
    }
    .cell-val-from, .cell-val-until, .cell-block-from, .cell-block-until {
      max-width: 275px;
      @include media-breakpoint-down(sm) {
        max-width: unset;
      }
    }
    .cell-price-time {
      max-width: 137px;
    }
    @include media-breakpoint-down(sm) {
      .cell-val-until, .cell-block-until, .cell-price-time {
        margin-top: 20px;
      }
    }
    .cell-minlos, .cell-maxlos {
      max-width: 137px;
      @include media-breakpoint-down(sm) {
        max-width: unset;
      }
    }
    .cell-cancels, .cell-meals, .cell-bgarants, .cell-policies {
      max-width: 550px;
      @include media-breakpoint-down(sm) {
        max-width: unset;
      }
    }
    .cell-meals, .cell-bgarants, .cell-policies {
      .drop-down-container {
        max-width: 244px;
        @include media-breakpoint-down(sm) {
          max-width: unset;
        }
      }
    }
    p.data-desc {
      padding-left: 18px;
      font-size: 12px;
      line-height: 18px;
      @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 24px;
        padding-left: 0;
      }
      margin: 0;
      &.oneline {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @include media-breakpoint-down(sm) {
          padding-left: 15px;
        }
      }
      &:first-of-type {
        margin-top: 8px;
      }
      svg {
        color: $danger;
      }
      button {
        display: inline-block;
        margin-right: 9px;
      }
    }
    .cell-policies {
      .data-desc {
        margin-bottom: 20px;
      }
    }
    .validity-unlim-wrapper {
      height: 45px;
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
    .cell-block-delete {
      max-width: 60px;
      align-self: flex-end;
      .btn-tiny {
        line-height: 45px;
        height: 45px;
      }
      @include media-breakpoint-down(sm) {
        position: absolute;
        right: 0;
        padding: 0;
        margin: 0;
        max-width: 30px;
        top: calc(50% - 8px);
      }
    }
    .add-new-blockout, .add-new-price, .add-new-validity {
      margin: 20px 0 10px;
    }
    .row-blockout:first-of-type {
      .add-new-blockout, .add-new-price, .add-new-validity {
        margin-top: 10px;
      }
    }

    @include media-breakpoint-down(sm) {
      .cell-edit-label {
        max-width: unset;
        &.smaller {
          max-width: calc(50% - 30px);
        }
      }
      .cell-edit-field {
        max-width: 165px;
        &.bigger {
          max-width: 195px;
        }
        &.smaller {
          max-width: calc(50% - 30px);
        }
      }
    }
    @include media-breakpoint-up(md) {
      .cell-edit-label {
        max-width: 137px;
        &.double {
          max-width: 274px;
        }
      }
      .cell-edit-field {
        &.single {
          max-width: 137px;
        }
        &.double {
          max-width: 274px;
          .amount-percent-field {
            width: 100%;
          }
        }
      }
    }
    .cell-edit-field {
      &.inverted {
        background-color: $white;
        border-radius: 10px;
        margin: 0;
      }
    }
    .cell-guests-price {
      justify-content: flex-end;
    }
    .cell-edit-tip {
      font-size: 12px;
    }
    @include media-breakpoint-down(sm) {
      .stdcalc-title {
        width: 250px;
        margin-right: auto !important;
        margin-left: auto !important;
      }
    }
  }
}
