.image-selector-container {
  &.picture {
    height: 150px;
    padding-bottom: 20px;

    div {
      background: transparent;
      //justify-content: left;

      img {
       // width: 100px;
      }

      .controls {
        // right: 0;
        // left: auto;
      }
    }
  }
}
