.lang-switcher .lang-menu {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-weight: 400;
  .globe-icon {
    margin-right: 5px;
    color: #91929D;
  }
  .arrow-icon {
    margin-left: 9px;
    color: $semigray;
  }
}

.content-header {
  height: 50px;
  padding: 0 30px;
  flex-shrink: 0;
  .profile {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-weight: 600;
    .profile-menu {
      display: flex;
      align-items: center;
      height: 17px;
    }
    .dropdown-divider {
      width: 90%;
      margin-left: 15px;
    }
    .separator {
      margin: 0 5px;
      width: 1px;
      height: 17px;
      background-color: #d5d8ef;
      display: inline-block;
      vertical-align: text-bottom;
    }
    .hotels-dropdown {
      max-height: 8px + 65px + 32px * 10;
      overflow-y: auto;
    }
    .manage-plans {
      width: 99%;
      margin-top: 4%;
      margin-bottom: 4%;
    }
  }
  .profile-dropdown {
    min-width: 300px;
    padding: 10px 15px;
    li a svg {
      margin-top: -2px;
    }
    .custom-menu {
      margin: 0 10px;
    }
    .custom-menu p {
      padding-left: 0;
      padding-right: 0;
    }
    .custom-item {
      display: flex;
      align-items: center;
      svg { margin: 0; flex-shrink: 0 }
      span { flex-grow: 1; padding: 0 4px; }
    }
    .subitem {
      .dropdown-item {
        padding-left: 38px;
        font-size: 12px;
        height: 24px;
        line-height: 24px;
      }
    }
    .custom-dropdown {
      margin: 0 10px;
    }
  }
  .lang-switcher .lang-menu {
    font-size: 16px;
  }
  .lang-search{
    margin: 0 15px;
    border: 1px solid #8f909b;
    border-radius: 5px;
  }
}

.profile-menu--mobile {
  display: flex;
  align-items: center;
  .search-filter input {
    width: 100%;
  }
  .dropdown-menu {
    transform: translate3d(-100vw, 55px, 0) !important;
    border-radius: 25px;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    will-change: transform, opacity !important;
    opacity: 0;
    top: 0;
    display: block;
    padding: 16px 20px;
    &.show{
      transform: translate3d(0, 53px, 0) !important;
      opacity: 1;
    }
    .btn-sm {
      font-weight: 600;
      margin-bottom: 24px;
    }
    .b-dropdown-text {
      padding: 0 15px;
      font-size: 14px;
      .email {
        font-size: 12px;
        color: $semigray;
        margin-left: 10px;
      }
    }
    li {
      &.collapsed {
        .b-dropdown-text {
          color: $ligth-blue;
        }
        .accordion-arrow {
          transform: rotate(90deg);
        }
      }
      .b-dropdown-text {
        font-size: 14px;
        color: $semigray;
        padding: 0 !important;
      }
    }
  }
  .b-dropdown-form {
    padding: 0 0 15px 0 !important;
  }
  .dropdown-item {
    padding: 0 !important;
    font-weight: 400;
  }
  .hotel-id {
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
  }
}
.show .profile-menu {
  color: #F7981C;
  .caret {
    transform: rotate(-90deg);
  }
}

.profile-menu {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  min-height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 600;
  &-item {
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }
  &-icon {
    width: 30px;
    text-align: center;
  }
  &.navbar-settings-dropdown {
    + .dropdown-menu {
      .dropdown-item {
        padding: 0 !important;
      }
    }
  }
  .modal-header {
    padding: 2rem;
  }
  &__header {
    width: 100%;
    text-align: center;
  }
  .modal-dialog {
    min-height: auto;
  }
}

.profile {
  @include media-breakpoint-down(sm) {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: white;
  }
  .accordion-arrow {
    position: absolute;
    right: 1rem;
    top: 10px;
  }
  .accordion-collapse-btn {
    cursor: pointer;
    color: $ligth-blue;
    font-weight: 600;
  }
  .accordion-items {
    position: relative;
    color: $semigray;
    font-weight: 400;
    &.collapsed .accordion-collapse-btn {
      color: $semigray;
      font-weight: 400;
      &:hover {
        color: $ligth-blue;
      }
    }
  }
  .accordion-sub-items {
    list-style: none;
    padding-left: 32px;
    margin: 5px 0;
    .dropdown-item {
      font-size: 12px;
      font-weight: 400;
      height: 25px;
      line-height: 25px;
      padding: 0;
    }
  }
  li {
    position: relative;
    line-height: 32px;
    cursor: pointer;
    &.collapsed {
      .b-dropdown-text {
        color: $ligth-blue;
      }
      .accordion-arrow {
        transform: rotate(90deg);
      }
    }
    .b-dropdown-text {
      font-size: 12px;
      color: $semigray;
      padding: 0 !important;
      .user {
        font-size: 14px;
      }
    }
  }
  .plan .b-dropdown-text {
    font-size: 14px;
    font-weight: 600;
    color: $ligth-blue !important;
  }
  .manage-plan .btn {
    font-size: 14px;
    font-weight: 600;
  }
  .email, .plan, .manage-plan {
    line-height: 25px;
    height: 25px;
  }
}

