.quill-editor {
  .ql-toolbar {
    background-color: $notes-background;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .ql-collapse {
      display: none;
    }
    .ql-codeview:focus {
      outline: none;
    }
    .ql-formats {
      span[role="button"] {
        display: flex;
      }
    }
    @include media-breakpoint-down(xs) {
      .ql-formats:last-child {
        height: 0;
        overflow: hidden;
        float: right;
        transition: height ease .25s;
        .ql-picker-options {
          right: 0;
        }
      }
      .ql-formats:first-child {
        width: 100%;
        height: initial;
        .ql-collapse {
          display: inline-block;
          float: right;
        }
      }
      .ql-formats {
        margin-right: 0;
      }
    }
  }
  &.is-open {
    .ql-toolbar .ql-formats {
      height: 24px;
      &:last-child {
        overflow: visible;
      }
    }
  }
  &.is-codeview {
    .ql-toolbar .ql-formats {
      button, span, .ql-collapse {
        display: none;
      }
      .ql-codeview {
        display: inline-block;
      }
    }
    .ql-container {
      display: none;
    }
  }
  .ql-container {
    height: 150px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    .ql-editor {
      padding: 12px 18px;
      &::before {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-style: normal;
        left: 18px;
      }
      p, li {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #495057;
      }
    }
    &.ql-disabled {
      background-color: $input-disabled-bg;
      pointer-events: none;
    }
    span {
      font-size: 16px !important;
      line-height: 1.42 !important;
    }
  }
  .ql-toolbar, .ql-container {
    border-color: $input-border-color;
  }
  &:focus-within {
    .ql-toolbar, .ql-container {
      border-color: #b8d3f4;
    }
  }
  &.is-invalid {
    .ql-toolbar, .ql-container {
      border-color: $form-feedback-invalid-color;
    }
  }
  &.is-valid {
    .ql-toolbar, .ql-container {
      border-color: $form-feedback-valid-color;
    }
  }
}
.code-editor {
  display: none;
}
.is-codeview.code-editor {
  &:focus {
    box-shadow: none;
    border-color: #ccced3;
  }
  &.is-valid:focus {
    border-color: $form-feedback-valid-color;
  }
  &.is-invalid:focus {
    border-color: $form-feedback-invalid-color;
  }

  display: block;
  height: 150px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
