.page-neogallery {
  color: $semigray;
  border-radius: 10px;
  margin-bottom: 30px;
  @include media-breakpoint-down(sm) {
    padding: 25px 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.17);
    border-radius: 25px;
  }
  .panel-title {
    @include media-breakpoint-down(sm) {
      display: block;
      margin: -25px -30px 0;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.17);
      padding-top: 25px;
      padding-bottom: 30px;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      background: $white;
    }
  }
}

//.media-library-modal {
//  .modal-xxl {
//    .content {
//      height: -webkit-fill-available;
//    }
//  }
//}
